@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    margin: 0;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(243,244,246);
    width: 100vw;
    height: 100vh;
}

body * {
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.sidebar {
    width: 10vw;
    background-color: rgb(51,61,78);
    height: 100vh;
    transition: all 500ms;
    font-family: 'Work Sans', sans-serif;
    color: rgb(160, 171, 191);
    font-size: 13px;
}

.sidebar.hide {
    width: 5vw;
}

.sidebar > i {
    width: 30px;
}

.sidebar > section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-bottom: 2px groove rgb(37, 44, 56);
    text-transform: uppercase;
}

.sidebar > .user {
    align-items: center;
}

.sidebar > section > p {
    margin: 0 0 3px 0;
    font-size: 12px;
    color: rgb(103, 114, 133);
    text-transform: lowercase;
}

#user-image {
    width: 60%;
}

.sidebar > section > label {
    margin: 5px 0;
}

.container-center {
    width: 90vw;
}

.section-name {
    margin-left: 10px;
    color: #333D4E;
}

#main-header {
    padding: 10px;
    padding-left: 0;
    border-bottom: 2px groove rgb(56, 59, 63);
    width: 100%;
    display: flex;
}

#main-header .left-icons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 5%;
}

.div-search {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
}

#input-search {
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 5px;
}

#tab-pedidos {
    width: 90%; 
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: 20px auto;
}

#tab-pedidos > thead {
    font-weight: bold;
}


@media screen {
    @media(max-width: 450px){
        .sidebar, #user-image, .sidebar > section > p {
            display: none;
        }
        .container-center {
            width: 100vw;
        }
    }
    @media(max-width: 900px){
        #user-image {
            /* width: 80%; */
            display: none;
        }
    }
    @media (max-width: 1360px){
        .sidebar .text-icon {
            display: none;
        }
        .sidebar > section {
            align-items: center;
        }
    }
    /* @media (min-width: 768px) and (max-width: 1023px){
        .sidebar > section > label {
            text-transform: none;
        }
    } */
}